<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="head">


    <div class="indexHead">
    <h1>
      Home page <%=data[0].title%>
    </h1>
    </div>


    <div class="fixedMenu">
        <div class="menuItem"><p class="home">Home</p></div>
        <div class="menuItem"><p class="signIn">Sign In</p></div>
        <div class="menuItem"><p class="sort">Sort</p></div>
        <div class="menuItem"><p class="search">Search</p></div>

    </div>

    </div>

    <div class="mangalist">
      <a href="/<%=data[0]._id%>" class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </a>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>

      <div class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p>manga title</p>
        </div>
        <img class="miniImg" src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>1</li>
        </ul>
        </div>
      </div>
      </div>


    </div>
  </body>
</html>
