<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="indexHead">
      <h1>show <%=data[0].title%></h1>
    </div>
    <div class="imgShow">
    <img src="https://cdn.myanimelist.net/images/manga/3/164420.jpg" alt="">
    </div>

    <div class="info">
        <table>
          <div class="table">
          <tr>Title:</tr>
          </div>
          <div class="tableResult">
          <tr>
            I am the title
          </tr>
          </div>
        </table>
      </div>

      <div class="showbuttons">

    <button class="edit" type="button" name="button">
      <a href="/<%=data[0]._id%>/edit">edit</a>
    </button>
    <button class="delete" type="button" name="button">delete</button>

      </div>

  </body>
</html>
